<div class="brand-title">Stationary Store Portal</div>

<div class="container">
  <h2>Create Account</h2>

  <input [(ngModel)]="username" placeholder="Username">

  <input [(ngModel)]="email" placeholder="Email">

  <input [(ngModel)]="password" type="password" placeholder="Password">

  <input [(ngModel)]="designation" placeholder="Designation">

  <!-- Department -->
  <select [(ngModel)]="departmentId">
    <option [ngValue]="null">Select Department</option>
    <option [ngValue]="1">IT</option>
    <option [ngValue]="7">HR</option>
    <option [ngValue]="8">Finance</option>
    <option [ngValue]="9">Admin</option>
  </select>

  <!-- Role -->
  <select [(ngModel)]="roleId">
    <option [ngValue]="null">Select Role</option>
    <option [ngValue]="1">User</option>
    <option [ngValue]="2">Issuer</option>
  </select>

  <!-- Button -->
  <button class="btn-primary" (click)="register()" [disabled]="loading">
    {{ loading ? 'Registering...' : 'Register' }}
  </button>

  <!-- Messages -->
  <p class="success" *ngIf="successMsg">{{successMsg}}</p>
  <p class="error" *ngIf="errorMsg">{{errorMsg}}</p>

  <!--  Login Link -->
  <p class="login-link">
    Already have an account?
    <a routerLink="/login">Login</a>
  </p>
</div>
